* {
  font-family: 'Didact Gothic', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

html, body {
  overflow: hidden;
  width: 100%;
  height: 100vh; }

#video-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  #video-wrapper video {
    min-width: 100% !important;
    min-height: 100% !important;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1; }

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

.menu-wrapper .buttons-wrapper .buttons-wrapper_inner input, #app .app-wrapper .answer input {
  display: block;
  min-width: 15rem;
  margin: 0 auto;
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  text-align: center; }
  .menu-wrapper .buttons-wrapper .buttons-wrapper_inner input:focus, #app .app-wrapper .answer input:focus {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-align: center; }
  .menu-wrapper .buttons-wrapper .buttons-wrapper_inner input::-webkit-input-placeholder, #app .app-wrapper .answer input::-webkit-input-placeholder {
    color: white;
    text-align: center; }

.menu-wrapper .buttons-wrapper .buttons-wrapper_inner button, #app .app-wrapper .gameover button, #app .app-wrapper .answer button {
  display: block;
  min-width: 15rem;
  margin: 10px auto;
  padding: 10px 0;
  box-shadow: 3px 5px 8px rgba(1, 1, 1, 0.8);
  border: none;
  background: #790021;
  color: white;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }
  .menu-wrapper .buttons-wrapper .buttons-wrapper_inner button:hover, #app .app-wrapper .gameover button:hover, #app .app-wrapper .answer button:hover {
    cursor: pointer;
    color: black;
    background-color: seashell;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out; }
  .menu-wrapper .buttons-wrapper .buttons-wrapper_inner button:active, #app .app-wrapper .gameover button:active, #app .app-wrapper .answer button:active, .menu-wrapper .buttons-wrapper .buttons-wrapper_inner button:focus, #app .app-wrapper .gameover button:focus, #app .app-wrapper .answer button:focus {
    outline: none !important; }

.menu-transition-appear {
  opacity: 0.01; }

.menu-transition-appear.menu-transition-appear-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in; }

.menu-transition-enter {
  opacity: 0.01; }

.menu-transition-enter.menu-transition-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in; }

.menu-transition-leave {
  opacity: 1; }

.menu-transition-leave.menu-transition-leave-active {
  opacity: 0.01;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in; }

.app-transition-appear {
  opacity: 0.01; }

.app-transition-appear.app-transition-appear-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in; }

.question-transition-enter {
  opacity: 0;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw); }

.question-transition-enter.question-transition-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in; }

.question-transition-leave {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.question-transition-leave.question-transition-leave-active {
  opacity: 0;
  -webkit-transform: translateX(50vw);
          transform: translateX(50vw);
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in; }

.menu-wrapper {
  width: 100%;
  height: 100%;
  background: url(../imgs/miss_me.jpg) center center no-repeat;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .menu-wrapper .img-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50.1%;
            flex: 0 0 50.1%;
    height: 50%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .menu-wrapper .img-wrapper svg {
      padding: 0 30px;
      -webkit-transition: all 500ms linear;
      transition: all 500ms linear; }
      .menu-wrapper .img-wrapper svg path {
        fill: none;
        stroke: white;
        stroke-width: 7.5;
        stroke-dashoffset: 705px;
        stroke-linecap: round;
        stroke-linejoin: round; }
  .menu-wrapper .buttons-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50.1%;
            flex: 0 0 50.1%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .menu-wrapper .buttons-wrapper .buttons-wrapper_inner {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%; }

#link-wrapper {
  width: 5%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  z-index: 15; }
  #link-wrapper:hover {
    cursor: pointer;
    background-color: rgba(1, 1, 1, 0.25);
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; }
    #link-wrapper:hover .link_home > span > svg > .polyline {
      stroke-width: 4;
      stroke: white;
      -webkit-transition: all 300ms ease-out;
      transition: all 300ms ease-out; }
  #link-wrapper .link_home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    text-decoration: none;
    color: white; }
    #link-wrapper .link_home span svg {
      width: 100%;
      height: 50px; }
      #link-wrapper .link_home span svg .polyline {
        fill: none;
        stroke: rgba(255, 255, 255, 0.75);
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        -webkit-transition: all 300ms ease-out;
        transition: all 300ms ease-out; }

.userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 85%;
  height: 100px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-size: 2rem; }
  @media (max-width: 432px) {
    .userinfo {
      font-size: 1.5rem; } }
  .userinfo_lives {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-align: left; }
    .userinfo_lives span {
      display: inline-block;
      max-width: 50px;
      height: 100%;
      padding: 0 5px; }
      @media (max-width: 432px) {
        .userinfo_lives span {
          max-width: 20px; } }
      .userinfo_lives span img {
        display: block;
        max-width: 100%;
        height: auto; }
  .userinfo_scores {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-align: right; }
    .userinfo_scores span {
      padding: 0 5px; }

#app {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: relative; }
  #app .app-wrapper {
    position: relative;
    width: 50%;
    height: 50%;
    z-index: 5;
    margin: 0 auto; }
    @media (max-width: 432px) {
      #app .app-wrapper {
        width: 80%; } }
    #app .app-wrapper .timer {
      display: inline-block;
      position: relative;
      top: 70%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 80%;
      height: 5px;
      z-index: 10;
      color: white;
      -webkit-transform-origin: top left;
              transform-origin: top left;
      font-size: 2rem; }
      @media screen and (min-width: 1601px) {
        #app .app-wrapper .timer {
          top: 60%; } }
      @media (max-width: 992px) {
        #app .app-wrapper .timer {
          top: 50%;
          left: 40%; } }
    #app .app-wrapper .question, #app .app-wrapper .gameover {
      display: inline-block;
      width: 80%;
      height: 50%;
      position: relative;
      top: 70%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      color: white;
      text-align: justify; }
      @media screen and (min-width: 1601px) {
        #app .app-wrapper .question, #app .app-wrapper .gameover {
          font-size: 1.25rem; } }
      @media (max-width: 992px) {
        #app .app-wrapper .question, #app .app-wrapper .gameover {
          width: 100%;
          top: 50%; } }
      #app .app-wrapper .question p, #app .app-wrapper .gameover p {
        position: absolute; }
    #app .app-wrapper .gameover {
      text-align: center; }
      #app .app-wrapper .gameover p {
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      #app .app-wrapper .gameover button {
        position: absolute;
        top: 60%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    #app .app-wrapper .answer {
      display: inline-block;
      width: 25%;
      height: 25%;
      position: absolute;
      top: 115%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      @media screen and (min-width: 1601px) {
        #app .app-wrapper .answer {
          width: 25%;
          top: 115%; } }
      @media screen and (max-width: 1600px) {
        #app .app-wrapper .answer {
          width: 80%;
          top: 125%; } }
      @media (max-width: 992px) {
        #app .app-wrapper .answer {
          width: 100%;
          top: 140%; } }
      @media (max-width: 432px) {
        #app .app-wrapper .answer {
          width: 100%;
          top: 160%; } }
