#link-wrapper {
  width: 5%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: background-color 300ms ease-out;
  z-index: 15;

  &:hover {
    cursor: pointer;
    background-color: rgba(1, 1, 1, 0.25);
    transition: background-color 300ms ease-out;

    .link_home > span > svg > .polyline {
      stroke-width: 4;
      stroke: rgba(255, 255, 255, 1);
      transition: all 300ms ease-out;
    }

  }

  .link_home {
    display: flex;
    @include flex(center, center, nowrap);
    width: 100%;
    height: 100vh;
    text-decoration: none;
    color: $white-text-color;

    span {
      svg {
        width: 100%;
        height: 50px;

        .polyline {
          fill: none;
          stroke: rgba(255, 255, 255, 0.75);
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          transition: all 300ms ease-out;
        }
      }
    }
  }
}