@import "_app.homeLink";
@import "_app.userinfo";

// Аппка
#app {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: relative;

  .app-wrapper {
    position: relative;
    width: 50%;
    height: 50%;
    z-index: 5;
    margin: 0 auto;
    @include mobile {
      width: 80%;
    }

    .timer {
      display: inline-block;
      position: relative;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 5px;
      z-index: 10;
      color: white;
      transform-origin: top left;
      font-size: 2rem;
      @include desktop_1600 {
        top: 60%;
      }
      @include tablet_992 {
        top: 50%;
        left: 40%;
      }
    }

    .question {
      display: inline-block;
      width: 80%;
      height: 50%;
      position: relative;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
      user-select: none;
      color: $white-text-color;
      text-align: justify;
      @include desktop_1600 {
        font-size: 1.25rem;
      }
      @include tablet_992 {
        width: 100%;
        top: 50%;
      }

      p {
        position: absolute;
      }
    }

    .gameover {
      @extend .question;
      text-align: center;

      p {
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      button {
        @extend %button;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

      }
    }

    .answer {
      display: inline-block;
      width: 25%;
      height: 25%;
      position: absolute;
      top: 115%;
      left: 50%;
      transform: translateX(-50%);
      @include desktop_1600 {
        width: 25%;
        top: 115%;
      }
      @include desktop_1024 {
        width: 80%;
        top: 125%;
      }
      @include tablet_992 {
        width: 100%;
        top: 140%;
      }
      @include mobile {
        width: 100%;
        top: 160%;
      }

      input {
        @extend %input;
      }

      button {
        @extend %button;
      }
    }
  }
}