.userinfo {
  display: flex;
  @include flex(space-between, center, nowrap);
  width: 85%;
  height: 100px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: $white-text-color;
  font-size: 2rem;
  @include mobile {
    font-size: 1.5rem;
  }

  &_lives {
    flex: 1 0 auto;
    text-align: left;

    span {
      display: inline-block;
      max-width: 50px;
      height: 100%;
      padding: 0 5px;
      @include mobile {
        max-width: 20px;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }

  &_scores {
    flex: 1 0 auto;
    text-align: right;

    span {
      padding: 0 5px;
    }
  }
}