.menu-wrapper {
  width: 100%;
  height: 100%;
  background: url('../assets/miss_me.jpg') center center no-repeat;
  background-size: cover;
  color: $white-text-color;
  display: flex;
  @include flex(center, center, wrap);

  .img-wrapper {
    flex: 0 0 50.1%;
    height: 50%;
    text-align: center;
    display: flex;
    @include flex(center, flex-end, wrap);

    svg {
      padding: 0 30px;
      transition: all 500ms linear;
      path {
        fill: none;
        stroke: $white-text-color;
        stroke-width: 7.5;
        stroke-dashoffset: 705px;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
  }

  .buttons-wrapper {
    flex: 0 0 50.1%;
    height: 50%;
    display: flex;
    @include flex(center, flex-start, nowrap);

    .buttons-wrapper_inner {
      flex: 0 0 25%;

      button {
        @extend %button;
      }

      input {
        @extend %input;
      }

    }

  }
}