// Menu transitions
.menu-transition-appear {
  opacity: 0.01;
}

.menu-transition-appear.menu-transition-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.menu-transition-enter {
  opacity: 0.01;
}

.menu-transition-enter.menu-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.menu-transition-leave {
  opacity: 1;
}

.menu-transition-leave.menu-transition-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}


// App transitions
.app-transition-appear {
  opacity: 0.01;
}

.app-transition-appear.app-transition-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

// Questions
.question-transition-enter {
  opacity: 0;
  transform: translateX(-50vw);
}

.question-transition-enter.question-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in;
}

.question-transition-leave {
  opacity: 1;
  transform: translateX(0);
}

.question-transition-leave.question-transition-leave-active {
  opacity: 0;
  transform: translateX(50vw);
  transition: all 500ms ease-in;
}