


// Цвета
$white-text-color: white;
$black-text-color: black;

// Экстенды
%input {
  display: block;
  min-width: 15rem;
  margin: 0 auto;
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  color: $white-text-color;
  transition: all 300ms ease-out;
  text-align: center;

  &:focus {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 300ms ease-out;
    text-align: center;
  }

  &::-webkit-input-placeholder {
    color: $white-text-color;
    text-align: center;
  }
}

%button {
  display: block;
  min-width: 15rem;
  margin: 10px auto;
  padding: 10px 0;
  box-shadow: 3px 5px 8px rgba(1, 1, 1, 0.8);
  border: none;
  background: #790021;
  color: $white-text-color;
  transition: all 300ms ease-out;

  &:hover {
    cursor: pointer;
    color: $black-text-color;
    background-color: seashell;
    transition: all 300ms ease-out;
  }
  &:active,
  &:focus {
    outline: none !important;
  }
}


// Миксины
@mixin flex($x-axis, $y-axis, $flex-wrap) {
  justify-content: $x-axis;
  align-items: $y-axis;
  flex-wrap: $flex-wrap;
}


// Медиа запросы
@mixin mobile {
  @media (max-width: 432px) {
    @content;
  }
}

@mixin tablet_992 {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin desktop_1024 {
  @media screen and (max-width: 1600px) {
    @content;
  }
}


@mixin desktop_1600 {
  @media screen and (min-width: 1601px) {
    @content;
  }
}

