* {
  font-family: 'Didact Gothic', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

 //Видео
#video-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  video {
    min-width: 100% !important;
    min-height: 100% !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);;
    z-index: 1;
  }
}




@import "_normalize";
@import "_variables";
@import '_routesTransitions';
@import "_menu";
@import "_app";



